<%- include header.ejs -%>
<button class="btn btn-lg btn-light">
  <a href="/">
    <i class="fas fa-home"> Home</i>
  </a>
</button>
<div class="col  ">
  <div class="d-flex justify-content-center">

    <form class="form-note text-center" action="/inscription" method="POST" data-toggle="validator">
      <img class="mb-4" src="images/logo_index.jpg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>
      <input type="text" class="form-control" placeholder="Prenom" name="firstname" required autofocus>
      <input type="text" class="form-control" placeholder="lastname" name="lastname" required>
      <input type="email" class="form-control" placeholder="Email" name="email" required>
      <input type="text" class="form-control" placeholder="Username" name="username" required>

      <input type="password" class="form-control  passwd control-label" placeholder="Mot de passe" name="password"
        autocomplete="current-password" required>
      <input type="password" class="form-control control-label" placeholder="Confirmer votre mot de passe" data-match="#passwd"
        data-match-error="Whoops, password don't match" autocomplete="current-password" required>
      <div class="help-block with-errors"> </div>

      <input type="number" class="form-control" placeholder="Age" min="18" max="900" name="age" required>
      <input type="text" class="form-control" placeholder="Famille" name="familly" required>
      <input type="food" class="form-control" placeholder="Nourriture" name="food" required>
      <input type="race" class="form-control" placeholder="Race" name="race" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Inscription</button>
    </form>
  </div>




</div>

<%- include footer.ejs -%>